{% extends 'customer/base.html' %}
<!--  -->
{% block content %}
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="filterProduct" tabindex="-1" aria-labelledby="filterProductLabel" aria-hidden="true">
    <div class="modal-dialog        ">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterProductLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-2 mx-auto">
                    <div class=" col mb-3">
                        <label for="base-price" class="form-label">Base Price</label>
                        <input type="number" class="form-control" id="base-price"
                           >
                    </div>
                    <div class=" col mb-3">
                        <label for="high-price" class="form-label">High Price</label>
                        <input type="number" class="form-control" id="high-price"
                           >
                    </div>
                </div>
                <div class="row row-cols-1 mx-auto">
                    <div class="col mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="" id="category" class="form-select">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>


<div class="card h-100">
    [{ filter.keyword }]
    <div class="d-flex align-items-center justify-content-between card-header">
        <h1 class="">
            Products
        </h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterProduct">
            <i class="bx bx-filter-alt"></i>
        </button>
    </div>
    <div class="table-responsive text-nowrap overflow-y-scroll">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>shop</th>
                    <th>category</th>
                    <th>price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in products" :key="index">
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>[{item.name}]</strong>
                    </td>
                    <td>
                        <span class="badge bg-label-primary me-1">[{item.shop}]</span>

                    </td>

                    <td>
                        <span class="badge bg-label-danger me-1">[{item.category}]</span>
                    </td>
                    <td>
                        [{item.price}] ฿
                    </td>
                    <td>
                        <button @click="addCart(item.id)" type="button" class="btn btn-success">Add cart</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "index",
                    page: "dashboard",

                    products: null,
                    filter:{
                        keyword:"",
                        base_price:0,
                        high_price:0,
                        category:0
                    }

                };
            },
            mounted() {
                axios(
                    {
                        method: 'get',
                        url: "{% url 'all-product-api' %}"
                    }
                ).then((response) => {
                    if (response.status == 200) {
                        this.products = response.data;
                    }
                });
            },
            methods: {
                addCart(id) {
                    const form_data = new FormData;
                    form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                    form_data.append("product", id);
                    form_data.append("unit", 1);
                    form_data.append("action", 1);
                    axios(
                        {
                            method: 'post',
                            url: "{% url 'action-cart-api' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.status == 201) {
                            Swal.fire({
                                title: "Success!",
                                text: "Add cart",
                                icon: "success"
                            });
                        }
                    });

                },          
            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}
<!-- <script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"]
        }
    )
    app.mount("#app")
</script> -->