{% extends 'customer/base.html' %}
<!--  -->
{% block content %}
<div class="card mb-3" v-for="(item, index) in carts" :key="index">
    <div class="d-flex align-items-center justify-content-between card-header">
        <h3 class="">
            [{item.invoice}]
        </h3>
        <div class="dropdown">
            <button class="btn "
                :class="{ 'disabled':item.status=='Cancelled','dropdown-toggle':item.status!='Cancelled','btn-danger':item.status!='Pending', 'btn-primary':item.status=='Pending' }"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                [{item.status}]
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" @click="cancelOrder(item.id)">Cancel</a></li>
            </ul>
        </div>
        {% comment %} <button type="button" class="btn btn-primary">

        </button> {% endcomment %}
    </div>
    <div class="table-responsive text-nowrap overflow-y-scroll">
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>unit</th>
                    <th>price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, id) in item.product" :key="id">
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                        <strong>
                            [{ product.product}]
                        </strong>
                    </td>
                    <td>
                        <span class="badge bg-label-primary me-1">[{product.quantity}]</span>
                    </td>
                    <td>
                        [{product.unit_price}]
                    </td>
                    <td>
                        [{product.unit_price * product.quantity}]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "menu",
                    page: "order",

                    carts: null


                };
            },
            mounted() {
                axios(
                    {
                        method: 'get',
                        url: "{% url 'order-api' %}"
                    }
                ).then((response) => {
                    if (response.status == 200) {
                        this.carts = response.data;
                    }
                });
            },
            methods: {
                cancelOrder(e) {
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be cancel this order?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#f00",
                        cancelButtonColor: "#111",
                        cancelButtonText: "Close",
                        confirmButtonText: "Cancel this Order",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const form_data = new FormData;
                            form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                            form_data.append("order", e);

                            axios(
                                {
                                    method: 'post',
                                    url: "{% url 'order-cancel-api' %}",
                                    data: form_data
                                }
                            ).then((response) => {
                                if (response.status == 200) {
                                    axios(
                                        {
                                            method: 'get',
                                            url: "{% url 'order-api' %}"
                                        }
                                    ).then((response) => {
                                        if (response.status == 200) {
                                            this.carts = response.data;
                                        }
                                    });
                                    Swal.fire({
                                        title: "Cancelled!",
                                        text: "Your order has cancelled!",
                                        icon: "success"
                                    });
                                }
                            });


                        }
                    });

                }
            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}
<!-- <script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"]
        }
    )
    app.mount("#app")
</script> -->