{% extends 'customer/base.html' %}
<!--  -->
{% block content %}
<!--  -->
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal  fade" id="ShopCreate" tabindex="-1" aria-labelledby="ShopCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ShopCreateLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-1 mx-auto">
                    <div class="mb-3 col">
                        <label class="form-label" for="shop_name">Shop Name</label>
                        <input class="form-control" type="text" name="shop_name" id="shop_name" v-model="shop_name">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="country">product type</label>
                        <select id="country" class="select2 form-select" v-model="product_type" required>
                            <option v-for="(item, index) in product_types" :key="index" :value="item.id">[{item.name}]
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="country">area</label>
                        <select id="country" class="select2 form-select" v-model="area">
                            <option v-for="(item, index) in areas" :key="index" :value="item.id">[{item.name}]
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-2 mx-auto">
                    <div class="mb-3 col">
                        <label for="firstName" class="form-label">First Name</label>
                        <input class="form-control" type="text" id="firstName" v-model="first_name" autofocus />
                    </div>
                    <div class="mb-3 col">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" id="lastName" v-model="last_name" />
                    </div>
                    <div class="mb-3 col">
                        <label for="email" class="form-label">E-mail</label>
                        <input class="form-control" type="text" id="email" placeholder="john.doe@example.com"
                            v-model="email" />
                    </div>
                    <div class="mb-3 col">
                        <label for="tel" class="form-label">Tel</label>
                        <input class="form-control" type="text" id="tel" placeholder="0xx-xxx-xxxx" v-model="tel" />
                    </div>
                    <div class="mb-3 col">
                        <label for="tel" class="form-label">Fax</label>
                        <input class="form-control" type="text" id="tel" placeholder="0xx-xxx-xxxx" v-model="fax" />
                    </div>

                    <div class="mb-3 col">
                        <label for="address" class="form-label">remark</label>
                        <input type="text" class="form-control" id="address" placeholder="Address" v-model="remark" />
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="country">Province</label>
                        <select id="country" class="select2 form-select" v-model="province" @change=onProvinceChange()>
                            <option v-for="(item, index) in province_list" :key="index" :value="item">[{item}]
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="country">District</label>
                        <select id="country" class="select2 form-select" v-model="district" @change=onDistrictChange()>
                            <option v-for="(item, index) in district_list" :key="index" :value="item">[{item}]
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" for="country">Sub-District</label>
                        <select id="country" class="select2 form-select" v-model="sub_district">
                            <option v-for="(item, index) in tambon_list" :key="index" :value="item">[{item}]
                            </option>
                        </select>
                    </div>
                    <div class="mb-3 col">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="zipCode" placeholder="231465" maxlength="5"
                            v-model="zip" />
                    </div>
                </div>
                <div class="row row-cols-1 mx-auto">
                    <div class="mb-3 col">
                        <label class="form-label" for="country">Address</label>
                        <textarea class="form-control" name="" v-model="address" id="" cols="30" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" @click="onSave($event)" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'account-setting-page' %}"><i class="bx bx-user me-1"></i> Account</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="{% url 'account-shop-page' %}"><i class="bx bx-bell me-1"></i>
                    Notifications</a>
            </li>
        </ul>


        <div class="card">
            <h5 class="card-header">Shop</h5>
            <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                    </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="accountActivation"
                            id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account
                            deactivation</label>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#ShopCreate"
                        class="btn btn-danger deactivate-account">Deactivate Account</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "user",
                    page: "shop",
                    areas: null,
                    product_types: null,

                    shop_name: "",
                    product_type: null,
                    area: null,
                    first_name: "",
                    last_name: "",
                    tel: "",
                    fax: "",
                    email: "",
                    remark: "",
                    province: "",
                    district: "",
                    sub_district: "",
                    address: "",
                    zip: "",


                    province_list: [],
                    district_list: [],
                    tambon_list: []




                };
            },
            mounted() {
                axios(
                    {
                        method: 'get',
                        url: "{% url 'get-product-type-api' %}"
                    }
                ).then((response) => {


                    this.product_types = response.data;

                });
                axios(
                    {
                        method: 'get',
                        url: "{% url 'get-area-api' %}"
                    }
                ).then((response) => {

                    this.areas = response.data;

                });
                axios(
                    {
                        method: 'get',
                        url: "{% url 'get-province' %}"
                    }
                ).then((response) => {
                    if (response.data['status']) {
                        this.province_list = response.data['data'].province;
                    }
                });
            },
            methods: {
                onProvinceChange() {
                    const form_data = new FormData;
                    form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                    form_data.append("province", this.province);
                    axios(
                        {
                            method: 'post',
                            url: "{% url 'get-district' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.data['status']) {
                            this.district_list = response.data['data'].district;
                            this.district = "";
                            this.tambon = "";
                        }
                    });
                },
                onDistrictChange() {
                    const form_data = new FormData;
                    form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                    form_data.append("province", this.province);
                    form_data.append("district", this.district);
                    axios(
                        {
                            method: 'post',
                            url: "{% url 'get-tambon' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.data['status']) {
                            this.tambon_list = response.data['data'].tambon;
                        }
                    });
                },
                onSave(e) {
                    e.preventDefault();

                    let isValid = true;

                    if (this.shop_name == "") {
                        isValid = false;
                    }
                    if (this.product_type == null) {
                        isValid = false;
                    }
                    if (this.area == null) {
                        isValid = false;
                    }
                    if (this.first_name == "") {
                        isValid = false;
                    }
                    if (this.last_name == "") {
                        isValid = false;
                    }
                    if (this.tel == "") {
                        isValid = false;
                    }
                    if (this.fax == "") {
                        isValid = false;
                    }
                    if (this.email == "") {
                        isValid = false;
                    }
                    if (this.remark == "") {
                        isValid = false;
                    }
                    if (this.province == "") {
                        isValid = false;
                    }
                    if (this.district == "") {
                        isValid = false;
                    }
                    if (this.sub_district == "") {
                        isValid = false;
                    }
                    if (this.address == "") {
                        isValid = false;
                    }
                    if (this.zip == "") {
                        isValid = false;
                    }

                    if (isValid) {
                        const data = {
                            area: this.area,
                            product_type: this.product_type,
                            name: this.shop_name,
                            contact: this.first_name + " " + this.last_name,
                            tel: this.tel,
                            fax: this.fax,
                            email: this.email,
                            remark: this.remark,
                            province: this.province,
                            district: this.district,
                            sub_district: this.sub_district,
                            address: this.address,
                            zip: this.zip,
                        };

                        const shop = JSON.stringify(Object.assign({}, data));


                        const form_data = new FormData;
                        form_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                        form_data.append("data", shop);

                        axios(
                            {
                                method: "post",
                                url: "{% url 'create-shop-api' %}",
                                data: form_data
                            }
                        )
                            .then((response) => {
                                console.log(response.status);
                            });
                    }
                }
            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}
<!-- <script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"]
        }
    )
    app.mount("#app")
</script> -->