{% extends 'store/base.html' %}
<!--  -->
{% block content %}
<!--  -->
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stock/</span> Input</h4>

<!-- Basic Layout -->
<div class="row row-cols-1 mx-auto g-0">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Product</h5>
                <small class="text-muted float-end">[{ date}]</small>
            </div>
            <div class="card-body">
                <form>
                    <div class="row row-cols-1 row-cols-lg-2 mx-auto g-0">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="product-name">Product Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="product-name2" class="input-group-text"><i
                                            class="bx bx-package"></i></span>
                                    <input type="text" class="form-control" id="product-name"
                                        placeholder="" aria-label="Product"
                                        aria-describedby="product-name2" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="cetegory" class="form-label">Category</label>
                                <select id="cetegory" class="form-select">
                                  <option>Default select</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 mx-auto g-0">
                        
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="descriptions">Description</label>
                                <div class="input-group input-group-merge">
                                    <span id="descriptions" class="input-group-text"><i
                                            class="bx bx-comment"></i></span>
                                    <textarea id="descriptions" class="form-control"
                                        placeholder="Tell about this product"
                                        aria-label="Hi, Do you have a moment to talk Joe?"
                                        aria-describedby="descriptions"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-lg-5 mx-auto g-0">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="price">Price</label>
                                <div class="input-group input-group-merge">
                                    <span id="price" class="input-group-text"><i
                                            class="bx bx-money"></i></span>
                                    <input type="number" min="0" id="price" class="form-control"
                                        placeholder=" .฿" aria-label=" .฿"
                                        aria-describedby="price" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="unit">Unit</label>
                                <div class="input-group input-group-merge">
                                    <span id="unit" class="input-group-text"><i
                                            class="bx bx-package"></i></span>
                                    <input type="number" min="0" id="unit" class="form-control"
                                        placeholder="Unit" aria-label="Unit"
                                        aria-describedby="unit" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="cost">Cost</label>
                                <div class="input-group input-group-merge">
                                    <span id="cost2" class="input-group-text"><i
                                            class="bx bx-coin"></i></span>
                                    <input type="number" min="0" id="cost" class="form-control"
                                        placeholder=" .฿" aria-label=" .฿"
                                        aria-describedby="cost2" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="discount">Discount</label>
                                <div class="input-group input-group-merge">
                                    <span id="discount2" class="input-group-text"><i
                                            class="bx bxs-offer"></i></span>
                                    <input type="number" min="0" id="discount" class="form-control"
                                        placeholder=" .฿" aria-label=" .฿"
                                        aria-describedby="discount2" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="total">Total</label>
                                <div class="input-group input-group-merge">
                                    <span id="total2" class="input-group-text"><i
                                            class="bx bx-coin-stack"></i></span>
                                    <input type="number" min="0" id="total" class="form-control"
                                        placeholder=" .฿" aria-label=" .฿"
                                        aria-describedby="total2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-company">Company</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i
                                    class="bx bx-buildings"></i></span>
                            <input type="text" id="basic-icon-default-company" class="form-control"
                                placeholder="ACME Inc." aria-label="ACME Inc."
                                aria-describedby="basic-icon-default-company2" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-email">Email</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                            <input type="text" id="basic-icon-default-email" class="form-control" placeholder="john.doe"
                                aria-label="john.doe" aria-describedby="basic-icon-default-email2" />
                            <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                        </div>
                        <div class="form-text">You can use letters, numbers & periods</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-phone">Phone No</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i
                                    class="bx bx-phone"></i></span>
                            <input type="text" id="basic-icon-default-phone" class="form-control phone-mask"
                                placeholder="658 799 8941" aria-label="658 799 8941"
                                aria-describedby="basic-icon-default-phone2" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "store",
                    page: "input",
                    date: ""


                };
            },
            mounted() {
                this.date = new Date().toLocaleString('th-TH', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: false
                });

            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}