{% extends 'store/base.html' %}
<!--  -->
{% block content %}
<!--  -->
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stock/</span> Input</h4>

<!-- Basic Layout -->
<div class="row row-cols-1 mx-auto g-0">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Product</h5>
                <small class="text-muted float-end">[{ date}]</small>
            </div>
            <div class="card-body">
                <form>
                    <div class="row row-cols-1 row-cols-lg-2 mx-auto g-0">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="product-name">Product Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="product-name2" class="input-group-text"><i
                                            class="bx bx-package"></i></span>
                                    <input type="text" class="form-control" id="product-name" placeholder=""
                                        aria-label="Product" aria-describedby="product-name2" v-model="product.name" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="cetegory" class="form-label">Category</label>
                                <select id="cetegory" class="form-select" v-model="product.category">
                                    <option v-for="(item, index) in category_list" :key="index" :value="item.id">
                                        [{item.name}]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 mx-auto g-0">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="descriptions">Description</label>
                                <div class="input-group input-group-merge">
                                    <span id="descriptions" class="input-group-text"><i
                                            class="bx bx-comment"></i></span>
                                    <textarea id="descriptions" class="form-control"
                                        placeholder="Tell about this product"
                                        aria-label="Hi, Do you have a moment to talk Joe?"
                                        aria-describedby="descriptions" v-model="product.desc"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-lg-5 mx-auto g-0">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="price">Price</label>
                                <div class="input-group input-group-merge">
                                    <span id="price" class="input-group-text"><i class="bx bx-money"></i></span>
                                    <input type="number" min="0" id="price" class="form-control" placeholder=" .฿"
                                        aria-label=" .฿" aria-describedby="price" v-model="product.price" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="unit">Unit</label>
                                <div class="input-group input-group-merge">
                                    <span id="unit" class="input-group-text"><i class="bx bx-package"></i></span>
                                    <input type="number" min="0" id="unit" class="form-control" placeholder="Unit"
                                        aria-label="Unit" aria-describedby="unit" v-model="product.unit" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="cost">Cost</label>
                                <div class="input-group input-group-merge">
                                    <span id="cost2" class="input-group-text"><i class="bx bx-coin"></i></span>
                                    <input type="number" min="0" id="cost" class="form-control" placeholder=" .฿"
                                        aria-label=" .฿" aria-describedby="cost2" v-model="product.cost" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="discount">Discount</label>
                                <div class="input-group input-group-merge">
                                    <span id="discount2" class="input-group-text"><i class="bx bxs-offer"></i></span>
                                    <input type="number" min="0" id="discount" class="form-control" placeholder=" .฿"
                                        aria-label=" .฿" aria-describedby="discount2" v-model="product.discount" />
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="total">Total</label>
                                <div class="input-group input-group-merge">
                                    <span id="total2" class="input-group-text"><i class="bx bx-coin-stack"></i></span>
                                    <input type="number" min="0" id="total" class="form-control" placeholder=" .฿"
                                        aria-label=" .฿" aria-describedby="total2" v-model="total" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-4">
                        <button type="button" @click="deleteProduct()" class="btn btn-danger align-self-end mx-2"
                            v-show="onEdit">Delete</button>
                        <button type="button" @click="addProduct()" class="btn btn-primary align-self-end"
                            v-show="!onEdit">Send</button>
                        <button type="button" @click="editProduct()" class="btn btn-primary align-self-end"
                            v-show="onEdit">Edit</button>
                    </div>
                    <table class="table mb-4 table-hover">
                        <thead>
                            <th>#</th>
                            <th>product name</th>
                            <th>category</th>
                            <th>price</th>
                            <th>unit</th>
                            <th>discount</th>
                            <th>total</th>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in productObject" :key="index" @click="setProduct(index)">
                                <td>[{ index +1 }]</td>
                                <td>[{ item.name }]</td>
                                <td>[{ item.category }]</td>
                                <td>[{ item.price }]</td>
                                <td>[{ item.unit }]</td>
                                <td>[{ item.discount }]</td>
                                <td>[{ item.total }]</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row row-cols-1 mx-auto g-0">

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="remark">Remark</label>
                                <div class="input-group input-group-merge">
                                    <span id="remark" class="input-group-text"><i class="bx bx-comment"></i></span>
                                    <textarea id="remark" class="form-control" placeholder="Remark"
                                        aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="remark"
                                        v-model="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mb-4">
                        <button type="submit" @click="onSave($event)"
                            class="btn btn-success align-self-end">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp, computed } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "store",
                    page: "input",
                    date: "",
                    category_list: null,

                    total: computed(() => {
                        return this.product.price * this.product.unit - this.product.discount;
                    }),
                    product: {
                        name: "",
                        category: "",
                        desc: "",
                        discount: 0,
                        unit: 0,
                        cost: 0,
                        price: 0,
                        total: 0

                    },
                    remark:"",
                    productObject: new Array,
                    onEdit: false,
                    indexSelect: null
                };
            },
            mounted() {
                this.date = new Date().toLocaleString('th-TH', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: false
                });


                axios(
                    {
                        method: 'get',
                        url: "{% url 'get-product-category-api' %}"
                    }
                ).then((response) => {
                    this.category_list = response.data;
                });
            },
            methods: {
                addProduct() {
                    this.onEdit = false;
                    let isValid = true;

                    if (this.product.name == "") {
                        isValid = false;
                    }
                    if (this.product.category == "") {
                        isValid = false;
                    }
                    if (this.product.unit == 0) {
                        isValid = false;
                    }
                    if (this.product.cost == 0) {
                        isValid = false;
                    }
                    if (this.product.price == 0) {
                        isValid = false;
                    }

                    if (isValid) {
                        this.product.total = (this.product.price * this.product.unit - this.product.discount);
                        this.productObject.push(this.product);
                        this.product = {
                            name: "",
                            category: "",
                            desc: "",
                            discount: 0,
                            unit: 0,
                            cost: 0,
                            price: 0,
                        };
                        this.total = computed(() => {
                            return this.product.price * this.product.unit - this.product.discount;
                        });
                    }
                },
                setProduct(index) {
                    this.indexSelect = index;
                    this.onEdit = true;
                    this.product.name = this.productObject[index].name;
                    this.product.category = this.productObject[index].category;
                    this.product.desc = this.productObject[index].desc;
                    this.product.discount = this.productObject[index].discount;
                    this.product.unit = this.productObject[index].unit;
                    this.product.cost = this.productObject[index].cost;
                    this.product.price = this.productObject[index].price;
                },
                editProduct() {
                    this.productObject[this.indexSelect].name = this.product.name;
                    this.productObject[this.indexSelect].category = this.product.category;
                    this.productObject[this.indexSelect].desc = this.product.desc;
                    this.productObject[this.indexSelect].discount = this.product.discount;
                    this.productObject[this.indexSelect].unit = this.product.unit;
                    this.productObject[this.indexSelect].cost = this.product.cost;
                    this.productObject[this.indexSelect].price = this.product.price;
                    this.productObject[this.indexSelect].total = (this.product.price * this.product.unit - this.product.discount);

                    this.onEdit = false;
                    this.indexSelect = null;
                    this.product = {
                        name: "",
                        category: "",
                        desc: "",
                        discount: 0,
                        unit: 0,
                        cost: 0,
                        price: 0,
                    };

                },
                deleteProduct() {
                    this.productObject.splice(this.indexSelect, 1);
                    this.onEdit = false;
                    this.indexSelect = null;
                    this.product = {
                        name: "",
                        category: "",
                        desc: "",
                        discount: 0,
                        unit: 0,
                        cost: 0,
                        price: 0,
                    };
                },
                onSave(e) {

                    e.preventDefault();
                    const products = JSON.stringify(Object.assign({}, this.productObject));
                    const form_data = new FormData();

                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                    form_data.append("products", products);
                    form_data.append("remark", this.remark);

                    axios(
                        {
                            method: "post",
                            url: "{% url 'create-input-data-api' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.status == 201) {
                            Swal.fire({
                                title: "Successfully!",
                                text: "Products Created!",
                                icon: "success"
                            });
                            this.product = {
                                name: "",
                                category: "",
                                desc: "",
                                discount: 0,
                                unit: 0,
                                cost: 0,
                                price: 0,
                            };
                            setTimeout(()=>{
                                location.reload()
                            }, 1000)
                        }
                        else {
                            Swal.fire({
                                title: "Error!",
                                text: "Something Error!",
                                icon: "error"
                            });
                        }
                    });
                }
            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}