{% extends 'store/base.html' %}
<!--  -->
{% block content %}
<div class="card mb-3" v-for="(item, index) in carts" :key="index">
    <div class="d-flex align-items-center justify-content-between card-header">
        <h3 class="">
            [{item.invoice}]
        </h3>
        <button type="button" class="btn btn-primary">
            [{item.status}]
        </button>
    </div>
    <div class="table-responsive text-nowrap overflow-y-scroll">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>unit</th>
                    <th>price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, id) in item.product" :key="id">
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                        <strong>
                            [{ product.product}]
                        </strong>
                    </td>
                    <td>

                        <span class="badge bg-label-dark me-1">[{product.quantity}]</span>

                    </td>
                    <td>
                        [{product.unit_price}]
                    </td>
                    <td>
                        [{product.unit_price * product.quantity}]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue;
    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    layout: "index",
                    page: "order",

                    carts: null


                };
            },
            mounted() {
                axios(
                    {
                        method: 'get',
                        url: "{% url 'order-shop-api' %}"
                    }
                ).then((response) => {
                    if (response.status == 200) {
                        this.carts = response.data;
                    }
                });
            },
            methods: {

            }
        }
    );
    app.mount("#app")
</script>
{% endblock script %}
<!-- <script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"]
        }
    )
    app.mount("#app")
</script> -->