{% extends 'store/base.html' %}
<!--  -->
{% block content %}
  <!--  -->
{% endblock content %}
<!--  -->
{% block script %}
<script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"],
            data(){
                return {
                    layout:"index",
                    page:"dashboard",


                }
            }
        }
    )
    app.mount("#app")
</script>
{% endblock script %}
<!-- <script>
    const { createApp } = Vue
    const app = createApp(
        {
            delimiters:["[{","}]"]
        }
    )
    app.mount("#app")
</script> -->